<div class="border rounded overflow-hidden flex-md-row bg-white">
  <div class="row">
    <div class="col-4 my-3" style="height: 250px;">
      {{#if user.image}}
      <img src="{{user.image}}" alt="圖片" class="rounded-circle mh-100 mw-100" style="height: 250px; width: 250px;">
      {{else}}
      <div class="rounded-circle mh-100 mw-100 bg-dark" style="height: 250px; width: 250px;"></div>
      {{/if}}
    </div>
    <div class="col-8">
      <h4>{{user.name}}</h4>
      <p>{{user.email}}</p>
      <button type="button" class="btn btn-primary">
        <a href="/users/{{user.id}}/edit" style="color: white;">
          Edit
        </a>
      </button>
    </div>
  </div>

</div>

<div class="card w-100 mt-3">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    {{#each user.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}" class="mx-2">
      <img src="{{this.Restaurant.image}}" alt="圖片" class="d-inline-block" style="height: 50px; width: 50px;">
    </a>
    {{/each}}
  </div>
</div>